@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

@font-face {
  font-family: 'entypo';
  src: url('/static/fonts/entypo/entypo.eot');
  src: url('/static/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/entypo/entypo.woff') format('woff'),
       url('/static/fonts/entypo/entypo.ttf') format('truetype'),
       url('/static/fonts/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

#allusers {
  position:fixed;
  width: 48.93617021276595%;
  margin-left: 48.93617021276595%;
}

.specialmsg {
color:blue;
}

.hidden {
display:none;
}

#newchatbttn, #chatForm {
display:inline;
}

